    form.signup,
    form.login {
        margin-top: 50px;
    }
    
    body,
    html {
        height: 100%;
        font-family: 'Smythe', cursive;
    }
    
    body {
        background-image: url(../assets/img/pic34.jpg');
        height: 50%;
        background-position: initial;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px;
    }
    
    .topnav {
        height: 50px;
        overflow: hidden;
        background-color: transparent;
        margin: 20px;
    }
    
    .topnav a {
        float: right;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
        width: 15%;
    }
    
    .topnav a:hover {
        background-color: #f3cda9;
        color: #774836;
    }
    
    .topnav a.active {
        background-color: #f3cda9;
        color: #774836;
        float: left;
        font-size: 25px;
        font-weight: bold;
    }
    /*Login styles*/
    
    #login {
        background-image: url(../assets/img/93324.jpg);
        background-position: initial;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px;
    }
    /*singin styles*/
    
    #signup {
        background-image: url(../assets/img/93324.jpg);
        background-position: initial;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px;
    }
    /*members styles*/
    
    #members {
        background-color: #537479;
        background-position: initial;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px;
    }
    
    #favorites {
        background-color: #537479;
        background-position: initial;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px;
    }
    
    h2 {
        font-size: 20px;
        color: white;
    }
    
    .jumbotron {
        background-color: #f3cda9;
        padding-left: 60px;
        padding-right: 60px;
        color: #774836;
    }
    
    .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }
    
    #favoritesWelcome {
        color: #774836;
        height: 50px;
    }